

    <footer class="mt-5 container-fluid p-3" id="footer">
        <div class="row ">
            <div class="col-md-12 col-lg-4 col-xl-4 mt-3 mt-sm-3 mt-md-0">
                <div class="row">
                    <h4><img src="imgs/icons/Logo.png" alt="Logo" width="30">  MyWebsite</h4>
                </div>
                <div class="row">
                    <p class="details"><i class="fa fa-university"></i> Kabul Afghanistan</p>
                </div>
                <div class="row">
                    <p class="details"><i class="fa fa-phone"></i> +93 784 257425</p>
                </div><br>
                <div class="row mx-auto text-md-start text-sm-start text-center justify-content-center links">
                    <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
                        <a class="d-inline-block ms-3" href="https://www.github.com/"><div>
                            <i class="fa fa-github fs-2"></i>
                        </div></a>
                        <a class="d-inline-block ms-3" href="https://www.linkedin.com/"><div>
                            <i class="fa fa-linkedin fs-2 text-info"></i>
                        </div></a>
                        <a class="d-inline-block ms-3" href="https://www.stackoverflow.com/"><div>
                            <i class="fa fa-stack-overflow fs-2 text-warning"></i>
                        </div></a>
                        <a class="d-inline-block ms-3" href="https://www.twitter.com/"><div>
                            <i class="fa fa-twitter fs-2 text-info"></i>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-8 ">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 quicklinks mt-3 mt-sm-3 mt-md-0">
                        <h4>Quick Links</h4>
                        <div class=""><a href="/">Home</a></div>
                        <div class=""><a href="/Requests">Requests</a></div>
                        <div class=""><a href="/Orders">Orders</a></div>
                        <div class=""><a href="/About">About</a></div>
                        <div class=""><a href="/Account">Account</a></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ourServices mt-3 mt-sm-3 mt-md-0">
                        <h4>Our services</h4>
                        <div class="row">
                            <i class="col-1 fa fa-android fs-3 pb-1 text-success"></i> <span class="col-11">Android Developemnt</span>
                        </div>
                        <div class="row">
                            <i class="col-1 fa fa-facebook fs-3 pb-1 text-info"></i> <span class="col-11">Copy editing & Data entry</span>
                        </div>
                        <div class="row">
                            <i class="col-1 fa fa-book fs-3 pb-1"></i> <span class="col-11">Graphic design</span>
                        </div>
                        <div class="row">
                            <i class="col-1 fa fa-google fs-3 pb-1 text-danger"></i> <span class="col-11">Software development</span>
                        </div>
                        <div class="row">
                            <i class="col-1 fa fa-home fs-3 pb-1"></i> <span class="col-11">Web development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row txt">
            <div class="col text-center ">
                <p class="txt"><span>&copy;</span>MyWebsite all rights reserved designed by <a
                            href="mailto:Muhammad.Elias.Muhammadi@Gmail.com">Muhammad Elias Muhammadi</a></p>
            </div>
        </div>
    </footer>
</div>
