<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>MyWebsite</title>
    
    <meta name="last-update" content="2022-08-06 13:00:23 UTC" />
    <meta name="user-signed-in" content="true" />
    <meta name="monetization" content="$ilp.uphold.com/24HhrUGG7ekn"/>
    <meta name="environment" content="Education"/>
    <meta name="monetization" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="description" content="some description"/>
    <meta name="keywords" content="word, seperated , by , comma"/>
    <meta name="apple-mobile-web-app-title" content="MyWebsite.to"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://localhost:27270/" />
    <meta property="og:title" content="MyWebsite" />
    <meta property="og:image" content="http://localhost:27270/imgs/icons/Logo.png" />
    <meta property="og:description" content="some info about the website" />
    <meta property="og:site_name" content="MyWebsite" />
    <meta http-equiv="monetization" content="IE=edge"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <link rel="shortcut icon" href="imgs/icons/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="vendor/Bootstrap-5.1.3/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">


