
<div class="container popoup-container mx-auto col-11 disable" id="ResourcesPopup">
    <div class="progress-container">
        <div class="progress-bar" id="DefinedScrollBar"></div>
        <a href="javascript:void(0)" onclick="LoadResources()" class="fs-2 fw-bolder"><span>X</span></a>
    </div>

    <div class="form-group row">
        <button class="a-btn btn btn-info mx-auto" value="submit">submit</button>
    </div>
</div>


